@font-face {
	font-family: 'w3fwoff';
	src:url('fonts/w3fwoff.eot?-o019lg');
	src:url('fonts/w3fwoff.eot?#iefix-o019lg') format('embedded-opentype'),
		url('fonts/w3fwoff.woff?-o019lg') format('woff'),
		url('fonts/w3fwoff.ttf?-o019lg') format('truetype'),
		url('fonts/w3fwoff.svg?-o019lg#w3fwoff') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'w3fwoff';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e604";
}
.icon-bubble:before {
	content: "\e606";
}
.icon-user:before {
	content: "\e60b";
}
.icon-cogs:before {
	content: "\e605";
}
.icon-cancel-circle:before {
	content: "\e600";
}
.icon-checkmark-circle:before {
	content: "\e601";
}
.icon-spam:before {
	content: "\e603";
}
.icon-close:before {
	content: "\e607";
}
.icon-checkmark:before {
	content: "\e602";
}
.icon-plus:before {
	content: "\e608";
}
.icon-arrow-up:before {
	content: "\e609";
}
.icon-arrow-down:before {
	content: "\e60a";
}
