body {
	font: 13px/1.334 "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.25em; 
}
h4 {
	margin-bottom: .5em;
}
h5 {
	margin: .5em 0 .25em;
}

textarea {
	border: 1px solid #b8b8b8;
	width: 100%;
	padding: .5em;
	height: 4.5em;
	margin: .5em 0;
	box-sizing: border-box;
}
	input[disabled],
	textarea[disabled] {
		cursor: not-allowed;
	}


input[type="text"] {
	border: 1px solid #b8b8b8;
	width: 100%;
	padding: .5em;
	box-sizing: border-box;
}

.button,
button {
	display: inline-block;
	cursor: pointer;
	padding: .5em 1em;
	background-color: #e8e8e8;
	border: 1px solid #dcdcdc;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	border-radius: 2px;
}
button {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
	.button:hover, button:hover {
		background-image: -webkit-linear-gradient(top, #f8f8f8, #f6f6f6);
	}

.wis-progress {
	background: #ddd;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
	height: 1.5em;
	list-style: none;
	font-size: .8em;
	margin: 0;
	z-index: 1;
	padding: 0;
}
	.wis-progress li {
		display: block;
		height: 100%;
		margin: 0;
		overflow: hidden;
		line-height: 1.5em;
		float: left;
	}
		.wis-progress a {
			display: block;
			height: 100%;
			margin: 0 2px;
			position: relative;
			padding: 0 2px;
			white-space: nowrap;
		}
		.wis-progress a span.progress-bar-container {
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
		}
		.wis-progress a span.progress-bar {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			background-color: #8f8;
		}
.section {
	margin: 1.5em 1.5em 5em 2.5em;
	clear: both;
}
	.section:after {
		content: ' ';
		display: block;
		clear: both;
	}

.question {
	float: left;
	width: 100%;
	clear: both;
	position: relative;
	margin-top: 5em;
}
.question-title {
	margin-bottom: .5em;
}
	.question-title h3 {
		margin: 0;
	}
	/* Allow notes to position themselves relative to these */
	.question .confidence,
	.question .justification,
	.question .supporting,
	.question .guidance-container,
	.question .examples {
		position: relative;
	}
	.question .question {
		margin-top: 2em;
		margin-left: 1.5em;
	}
	.question .supporting {
		margin: .5em 0 .5em 1em;
	}
	.question .question-title {
		line-height: 24px;

	}
	.question .level-select {
		position: absolute;
		right: 0;
		top: .75em;
		font-size: 20px;
	}

	.question .confidence {
		font-size: 1.25em;
	}

	.question-Scale .scale-response,
	.question-Scale .confidence {
		margin-top: .5em;
		font-size: 1.25em;
		text-align: center;
	}

	.question-Scale .scale-response {
		float: left;
		width: 50%;
	}
		.question-Scale .scale-response .score-container {
			position: relative;
		}
	.question-Scale .confidence {
		float: right;
		width: 50%;
	}

	.question-Option .response {
		float: right;
	}
	.question-Options .open-notes {
	}

	.question-Option .fancy-select-options {
		left: auto !important;
		right: 0;
	}
	.answer-sum {
		float: right;
		padding-left: 3em;
		color: white;
		font-size: 2em;
		background: #494;
		padding: .2em .5em;
		border-radius: .75em;
	}

.options {
	list-style: none;
	margin: 0;
	padding: 0;
}
	.options li {
		padding: .5em;
	}

.guidance-container {
	float: left;
	clear: both;
	width: 100%;
}
	.guidance-container h4 {
		clear: both;
	}
	.guidance {
		color: #777;
		min-width: 130px;
		float: left;
		box-sizing: border-box;
	}
	.guidance p {
		margin: 0 .5em .5em;
	}

/**
 * Notes
 */
.open-notes {
	position: absolute;
	left: -3.25em;
	top: -.25em;
	height: 24px;
	text-indent: 0;
	color: #fff;
	font-size: .9em;
	text-align: center;
	width: 3em;
	cursor: pointer;
}
	.open-notes .icon-bubble {
		color: #ddd;
		top: 0;
		left: 0;
		z-index: -1;
		font-size: 2em;
	}
		.open-notes:hover .icon-bubble {
			color: #66f;
		}
	.open-notes .comment-count {
		position: absolute;
		left: 0;
		top: 0;
		line-height: 2em;
		width: 100%;
		height: 100%;
	}
	.open-notes.with-notes .icon-bubble {
		color: #66c;
	}
	.notes {
		position: absolute;
		left: 0;
		top: 100%;
		margin-left: .5em;
		margin-top: .75em;
		width: 250px;
		z-index: 25;
		text-indent: 0;
		background-color: #fcfac6;
		border: 1px solid #feef9c;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2);
		font-size: 12px;
		text-align: left;
	}
		.notes .notes-header {
			background-color: #f8f8a8;
			padding: 2px;
			position: relative;
		}
			.notes .note-count {
			}
			.notes .close-notes {
				float: right;
				cursor: pointer;
				padding-top: 2px;
				color: #666;
			}
			.notes .close-notes:hover {
				color: red;
			}
		.notes .note {
			border-bottom: 1px solid #feef9c;
			margin: .25em 0;
			padding: .25em;
			box-sizing: border-box;
			overflow: hidden;
		}
			.notes .note p {
				margin: 0 0 .25em;
			}
			.notes .note-resolved {
				background-color: #f8f8f8;
				height: 1.9em;
				color: #888;
			}
			.notes .resolved-note {
				border: 1px solid rgba(0,0,0,0.1);
				height: 17px;
				line-height: 17px;
				background-color: #f5f5f5;
				padding: 0 .25em;
				margin-top: -2px;
				font-size: .9em;
				font-weight: bold;
				background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
				float: right;
				margin-left: 1em;
			}
			.notes .expanded-note {
				height: auto;
			}
		.notes .note .note-actions {
			float: right;
			color: #666;
			margin-right: .25em;
			padding-left: 1em;
		}
			.notes .note .note-actions a:hover {
				color: #4c4;
				cursor: pointer;
			}
		.notes .save-note,
		.notes .add-note {
			background-color: #4d90fe;
			background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
			color: white;
			border-color: #3079ed;
		}

#sign-in {
	clear: both;
}

#wrapper {
	max-width: 1024px;
	margin: 1.75em 1em;
}

#status {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);

	background-color: #fcfac6;
	border: 1px solid #feef9c;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	padding: .3em .5em;

	z-index: 20;
}
	#status .status-error {
		border: 1px solid #fab3b7;
		background-color: #fadbdd;
		position: relative;
		left: -1px;
		padding: .3em .5em;
		margin-left: -.5em;
		top: -.3em;
		width: 100%;
	}

#loading {
	margin: 1em;
	padding: 2em;
	clear: both;
}
	#branding h1 {
		padding-left: 186px;
		width: 0;
		height: 49px;
		background: url(http://www.webfoundation.org/wp-content/themes/webfoundation/assets/img/logo_wf.gif);
		overflow: hidden;
		white-space: nowrap;

		float: left;
	}
	#branding h2 {
		line-height: 49px;
		vertical-align: middle;
		float: right;
		color: #444;
	}

#sections {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 1.2em;
	border-top: 2px solid transparent;
	padding: 0;
	transition: width 0.4s;
	width: 0;
	z-index: 20;
}
#sections ul {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2.5em;
	bottom: 0;
	overflow: auto;
	right: 0;
}
#sections li {
	list-style: none;
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	white-space: nowrap;

	background: #e2e2e2; /* Old browsers */
}
	#sections li:hover {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	}
	#sections li.active {
background: #b2e1ff; /* Old browsers */
background: -moz-linear-gradient(top,  #b2e1ff 0%, #66b6fc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#66b6fc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b2e1ff 0%,#66b6fc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b2e1ff 0%,#66b6fc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 ); /* IE6-9 */
}		
	#sections li a {
		cursor: pointer;
		display: block;
		padding: .5em;
	}

#user-role-container {
	background: #f8fdf8;
	padding: .5em;
	border: 1px solid #d8d8d8;
}
		#user-role-container p {
			margin: .75em 1em;
		}
		#user-role-container .user-role-popup {
			display: none;
			left: 100%;
			margin-left: 10px;
			top: .25em;
			max-width: 300px;
			position: absolute;
			background-color: #f8f8f8;
			border: 1px solid #d8d8d8;
			z-index: 0;
			box-shadow: 1px 1px 2px rgba(0,0,0,.1);
		}
			#user-role-container .user-role-popup:before {
				content: " ";
				display: block;
				position: absolute;
				left: -7px;
				background-color: #f8f8f8;
				width: 12px;
				height: 12px;
				top: .5em;
				border-left: 1px solid #d8d8d8;
				border-bottom: 1px solid #d8d8d8;
				 -webkit-transform: rotate(45deg);  /* Saf3.1+ */     
				-moz-transform: rotate(45deg);  /* FF3.5/3.6 */
				-ms-transform: rotate(45deg);  /* IE 9+ */
				-o-transform: rotate(45deg);  /* Opera 10.5 */
				transform: rotate(45deg);  /* Newer browsers (incl IE9) */
			}
		#user-role-container:hover .user-role-popup {
			display: block;
		}

/**
 * Angular fancy dropdown
 */
.fancy-select { 
	display: inline-block; 
	position: relative;
}
.fancy-select select {
	display: none;
}
	.fancy-select .fancy-select-selected {
		display: block;
		border: 1px solid #dcdcdc;
		text-align: center;
		background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
		background: #f8f8f8;
		cursor: pointer;
		width: 100%;
		box-sizing: border-box;
	}
		.fancy-select .fancy-select-disabled {
			cursor: not-allowed;
		}
	.fancy-select .fancy-select-selected,
	.fancy-select .fancy-select-option {
		padding: .25em .5em;
		white-space: nowrap;
	}
		.fancy-select .fancy-select-options {
			margin: 0;
			padding: 0;
			text-align: left;
			display: none;
			position: absolute;
			left: 0;
			top: 100%;
			list-style: none;
			background: #fff;
			border: 1px solid rgba(0,0,0,.2);
			background-color: #fff;
			z-index: 10;
			box-shadow: 0 2px 4px rgba(0,0,0,0.2);
			transition: opacity 0.218s;
		}
		.fancy-select .fancy-select-open .fancy-select-options {
			display: block;
		}
			.fancy-select .fancy-select-open .fancy-select-option {
				cursor: pointer;
			}
			.fancy-select .fancy-select-open .fancy-select-option:hover {
				background-color: #eee;
			}

/**
 * Flexible List
 */
.flexible-list {
	list-style: none;
	padding: 0;
}
	.flexible-list [class^="icon-"], .flexible-list [class*=" icon-"] {
		cursor: pointer;
		padding-right: .5em;
	}
	.flexible-list .flexible-list-delete {
		padding: 5px;
	}
	.flexible-list .flexible-list-item * {
		font-size: 1em;
	}
	.flexible-list .flexible-list-item {
		padding-left: 1.5em;
		min-width: 200px;
		margin: .75em 0 .5em;
		position: relative;
	}
	.flexible-list .flexible-list-delete {
		display: block;
		color: #777;
		position: absolute;
		left: 0;
		padding: 6px 0;
		margin-top: 3px;
	}
		.flexible-list .flexible-list-delete:hover {
			color: #f08888;
		}

	.flexible-list .flexible-list-add {
		color: #3079ed;
		cursor: pointer;
	}
		.flexible-list .flexible-list-add:hover {
			text-decoration: underline;
		}

/**
 * Uploadable URL
 */
.uploadable-url {
}
	.uploadable-url input[type="text"] {
		width: 100%;
		margin-bottom: .5em;
	}
	.uploadable-url input[type="text"],
	.uploadable-url .button {
		box-sizing: border-box;
		line-height: 1.5em;
		height: 2em;
		padding: .25em;
	}
	.uploadable-url-preview-url {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.uploadable-url-url {
		position: relative;
	}
	.uploadable-url-upload {
		position: absolute;
		top: 0;
		right: 0;
	}
	.uploadable-url-upload input {
		display: none;
	}
	.uploadable-url-upload .button {
		padding: .25em 1em;
	}
