<div class="open-notes" title="{{ notes.length }} comments" ng-class="{ 'with-notes': notes.length > 0 || threadOrder.length > 0, 'with-unresolved-notes': notes.length > 0 }" ng-click="$rootScope.$broadcast('close-notes'); opened=!opened" id="note-{{ question.qid }}-{{ field }}">
	<span class="icon-bubble"></span> 
</div>

<div class="notes ng-hide" ng-show="opened">
	<div class="notes-header">
		<div class="close-notes icon-cancel-circle" ng-click="opened=false"></div>
		<ng-pluralize count="notes.length" when="{ 'one': '1 Note', 'other': '{} Notes' }" class="note-count"></ng-pluralize>
	</div>

	<div class="note-list">
		<div class="thread" ng-repeat="threadDate in threadOrder">
			<ng-include src="'tpl/note.html'" ng-repeat="note in threads[threadDate]"></ng-include>
			<a class="resolved-note" title="Click to expand">Resolved {{ threadDate }}</a>
		</div>

		<ng-include src="'tpl/note.html'" ng-repeat="note in notes track by $index"></ng-include>
	</div>

	<div class="notes-actions" ng-show="!addingNote && !$rootScope.readOnly">
		<button class="add-note" ng-click="addingNote=true"><span class="icon-pencil"></span> Add Note</button>
		<a class="note-resolve icon-checkmark-circle" title="Resolve Notes" ng-if="notes.length > 0" ng-click="resolve(notes)"></a>
	</div>

	<div class="add-note-form" ng-show="addingNote && !$rootScope.readOnly">
		<textarea ng-model="newNote"></textarea>

		<button class="save-note" ng-click="addNote();">Save</button>
		<button class="cancel-note" ng-click="addingNote=false">Cancel</button>
	</div>
</div>
