<div class="question question-{{ question.type }}" ng-init="response = responses[question.questionid]">
	<div ng-if="question.type == 'Option'" class="response">
		<notes ng-if="!anonymous" field="'response'" />

		<fancy-select ng-options="item.weight.toString() as item.content for item in question.option" ng-model="response.response" class="answer-select option-select" id="question-{{ question.questionid }}" with-null="-" ng-disabled="readOnly || commentOnly" />
	</div>

	<div ng-if="question.type == 'Sum'" class="answer-sum" sum-question="question">
		{{ response.response }}
	</div>

	<div class="question-title">
		<h3>
			{{ question.questionid.split('.').reverse()[0]}}: <em><label for="question-{{ question.questionid }}">{{ question.question }}</label></em>
		</h3>
	</div>

	<p ng-if="question.helplink" class="helplink">
		<a href="{{question.helplink}}" target="w3f-guidance">Further question guidance &rarr;</a>
	</p>

	<div ng-if="(question.wantjustification !== 'Yes') && question.justificationnote" ng-bind-html="question.justificationnote | markdown"></div>

	<div ng-if="question.wantjustification == 'Yes'" class="justification">
		<notes ng-if="!anonymous" field="'justification'" />

		<h4>Justification and sources (include URLs)</h4>

		<div ng-if="question.justificationnote" ng-bind-html="question.justificationnote | markdown"></div>

		<textarea ng-model="response.justification" ng-if="!readOnly && !commentOnly"></textarea>

		<h4 ng-if="(readOnly || commentOnly) && response.justification">Justification response:</h4>
		<div class="justification-response" ng-if="(readOnly || commentOnly) && response.justification" ng-bind-html="response.justification | markdown"></div>
	</div>

	<div ng-if="question.wantexamples == 'Yes'" class="examples">
		<label>
			<span ng-hide="readOnly || commentOnly">Upload supporting files</span>
			<span ng-if="(readOnly || commentOnly) && response.example.length">Supporting files</span>

			<flexible-list collection="response.example" at-least="0" ng-disabled="readOnly || commentOnly" />
			<p class="description">Note: Any uploaded files will be saved on your Google Drive and will be publicly accessible.</p>
		</label>
	</div>

	<div ng-if="supporting && !supporting.values || supporting.values.indexOf(response.response) > -1" ng-repeat="supporting in question.supporting" class="supporting">
		<notes ng-if="!anonymous" field="$parent.supporting.id" />

		<label>
			<div ng-bind-html="supporting.content | markdown"></div>

			<textarea ng-model="response[supporting.id]" ng-disabled="readOnly || commentOnly"></textarea>
		</label>
	</div>

	<div ng-if="question.type == 'Scale'" class="scale-response">
		<span class="score-container">
			<notes ng-if="!anonymous" field="'response'" />

			<label>
				Score:
				<fancy-select ng-model="response.response" class="answer-select scale-select" id="question-{{ question.questionid }}" ng-options="val.toString() as val for val in [].range(11)" with-null="-" ng-disabled="readOnly || commentOnly" />
			</label>
		</span>
	</div>

	<div class="confidence" ng-if="question.wantconfidence == 'Yes'">
		<label class="confidence-level">
			<span>Confidence:</span>

			<fancy-select ng-model="response.confidence" ng-options="val.toString() as val for val in [ '0%', '25%', '50%', '75%', '95%', '100%' ]" with-null="-" ng-disabled="readOnly || commentOnly" />
		</label>
	</div>

	<div ng-if="question.guidance.length" class="guidance-container">
		<h4>Guidance:</h4>

		<div class="guidance" ng-repeat="guidance in question.guidance" ng-style="{ width: (100 / question.guidance.length) + '%' }" ng-bind-html="(question.guidance.length > 1 ? guidance.weight + ' - ' : '') + guidance.content | markdown">
		</div>
	</div>

	<div ng-if="question.hasprivatenotes == 'Yes'" class="private-notes">
		<notes ng-if="!anonymous" field="'privateNotes'" />
		<h4>Private notes: for reviewer / coordinator only.</h4>

		<textarea ng-model="response.privatenotes" ng-disabled="readOnly || commentOnly"></textarea>
	</div>

	<ng-include src="'tpl/question.html'" ng-repeat="question in question.subquestions"></ng-include>
</div>
