<div id="loading" ng-show="loading">
	<h3>{{ loading }}</h3>
</div>

<div id="status" fade-on="status" ng-show="status" ng-class="{ 'status-error': status.error, 'status-saving': status.saving }">
	<ng-pluralize count="status.saving" ng-if="status.saving" when="{ 'one': 'Saving...', 'other': 'Saving {} changes...' }"></ng-pluralize>

	<span ng-if="status.error">
		{{ status.error }}
	</span>

	<span ng-if="status.message">
		<span ng-if="status.success" class="icon-checkmark"></span> {{ status.message }}
	</span>
</div>

<div class="ng-hide" ng-show="!loading">
	<nav id="sections">
		<ul>
			<li ng-repeat="section in sectionOrder" ng-class="{ active: activeSection == section }">
			<a ng-click="navigate(section)">{{ section }}</a>
			</li>
		</ul>
	</nav>

	<section ng-repeat="sectionid in sectionOrder" ng-init="section=sections[sectionid]" class="section" class="ng-hide" ng-if="sectionid == activeSection">
		<h2>{{ section.title | country }}</h2>

		<div class="section-description" ng-bind-html="section.description | markdown"></div>

		<div ng-repeat="question in section.questions">
			<ng-include src="'tpl/question.html'"></ng-include>
		</div>
	</section>
</div>
