<div class="uploadable-url">
	<div ng-hide="disabled || model.locked">
		<input type="text" ng-model="model.title" ng-show="model.uploaded" placeholder="{{ placeholder }}" />

		<div class="uploadable-url-url">
			<input type="text" ng-model="model.url" ng-disabled="disabled || model.locked" placeholder="File location" ng-hide="model.locked || !model.uploaded" />

			<div class="uploadable-url-upload" ng-if="!model.locked && !disabled">
				<label class="button">
					{{ uploadState || "Upload..." }}
					<input type="file" onchange="angular.element(this).scope().upload(this)" ng-disabled="model.uploading" />
				</label>
			</div>
		</div>
	</div>
	<div class="uploadable-url-preview-url" ng-if="model.locked">
		<input type="text" ng-model="model.title" ng-show="model.uploaded && !(disabled)" placeholder="{{ placeholder }}" />
		<a class="uploadable-url-preview-url" href="{{ model.url }}" ng-if="disabled" target="uploadedPreview">{{ model.title }}</a>
		<span class="uploadable-url-preview-url">{{ model.url }}</span>
	</div>
</div>

